wemeya3594@azucore.com
lip_pk_test_58072c9947ac77528320bdfb19b672306b9e404bf24d87e77a08fa0fc41f8311
https://dashboard.render.com/d/dpg-d7gck9osfn5c73a33uu0-a
eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZkcWt1eGpkZ3BxZWlscHBva3BuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjUxMzg2NiwiZXhwIjoyMDkyMDg5ODY2fQ.346aaUKgen8WD0M6ydfJIjF4VF8pDNMo0-kXfRAs1BA
https://fdqkuxjdgpqeilppokpn.supabase.co